export GTK_IM_MODULE=ibus
export XMODIFIERS=@im=ibus
export QT_IM_MODULE=ibus
ibus-daemon -drx
setxkbmap -option compose:ralt
~/.bin/set-color-profiles

export CALIBRE_USE_DARK_PALETTE=1
export QT_STYLE_OVERRIDE=Adwaita-Dark
export QT_AUTOSCREEN_SCALE_FACTOR=1

export TERMINAL=alacritty
