configuration {
  dpi: 144;
  theme: "Arc-Dark";
  font: "Iosevka 13";
  location: 6;
  width: 100;
  lines: 8;
  bw: 0;
  yoffset: 0;
  modi: "combi,calc:qalc +u8 -nocurrencies";
  combi-modi: "window,drun";
}
