configuration {
  dpi: 144;
  theme: "gruvbox-dark";
  font: "Iosevka 13";
  location: 6;
  width: 100;
  bw: 0;
  yoffset: 0;
  modi: "drun,window,calc:qalc +u8 -nocurrencies";
  combi-modi: "window,drun";
}
